
<%- include('header'); -%>
    <div class="box" id="heading">
        <h1> <%= listTitle %> </h1>
    </div>
 
    <div class="box" id="">
        <% for(var i=0; i<newListItems.length; i++) { %>
        <div class="item">
            <input type="checkbox">
            <!-- Loops through the array and for how ever many items are in the array, a new list item is created -->
            <!-- Add ejs snippets to the lines that need code run -->
            <!-- Render the values of the new index items using tags in the list  -->
            <p><%= newListItems[i] %></p>
        </div> 
        <% } %>
        <!-- Post the info in the form to the home (/) route -->
        <!-- Post the value of newItem to the home route -->
        <!-- When new item is added through the form, it gets sent to app.js to be added as a new list item  -->
        <form class="item" action="/" method="post">

            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
    
            <button type="submit" name="list" value="<%= listTitle %>">+</button>
        
        </form>
    </div>
<%- include('footer'); -%>